//Cores
$cor-primaria:#DA4167;/* #ff6b81 */
$cor-secundaria:#333333;
$cor-terciaria:#001427;
$cor-branco:#FFFFFF;
$cinza-medio:#575353;
$cinza-claro:#f7f4f4;




//Medidas
$padding-container:15px 30px;
$pad-texto:0 15px;
$pad-btn-padrao: 10px 20px;
$titles-margin-bottom:25px;
$subtitles-margin-bottom:40px;

//breack-points media queries
$padding-section-520:0 10%;
$padding-section-760:0 30px;

//Border
$b-radius-5: 5px;

//Medidas para position:fixed/absolute
$padding-x-rigth-padrao:30px;
$padding-x-left-padrao:30px;

$padding-y-bottom-padrao:30px;