
.section-recentes{
    grid-column: inicio-left/fim-rigth;
    grid-row:inicio-section-recentes/fim-section-recentes;
    background: #d63384;
    
    .box-titles{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin:30px 0 0 0;

        .title{
            text-transform: uppercase;
            color: #FFF;
            margin-bottom: 10px;
            font-weight: bold;
            font-size: 14px;
        }
        .subtitle{
            text-align: center;
            color: #FFF;
            font-size: 14px;
        }
    }

    .container-recentes{
        padding-bottom: 30px;
        .item{
            height: 230px;
            padding: 0 5px;

            .background-item{
                width: 100%;
                height: 100%;
                border-radius: 8px;
                background-position: center center;
                background-size: cover;
                background-repeat: no-repeat;

                .box-informacoes{
                    width: 100%;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    padding: 10px;
                    .icon-visualizar{
                        width: 100%;
                        display: flex;
                        justify-content: flex-end;
                        span{
                            cursor: pointer;
                            color: #FFF;
                        }
                    }
                    .titles{
                        display: flex;
                        flex-direction: column;

                        .title{
                            color: #FFF;
                            font-size: 18px;
                            font-weight: bold;
                        }
                        .subtitle{
                            font-size: 14px;
                            color: #d63384;
                            margin: 0;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 720px){
    .section-recentes{
        .box-titles{

            .title{
                font-size: 25px;
            }
            .subtitle{
                font-size: 16px;
            }
        }
    
        .container-recentes{
            .item{
                height: 320px;
            }
        }
    }
}