/* #ff6b81 */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Open sans", sans-serif;
}

img {
  width: 100%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  background: #f7f4f4;
}

.container-principal {
  position: relative;
  display: grid;
  grid-template-columns: [inicio-left] 5% [inicio-temp] 1fr repeat(12, 10px 1fr) [fim-temp] 5% [fim-rigth];
  grid-template-rows: [inicio-section-home] 100vh [fim-section-home] 0px [inicio-section-sobre] auto [fim-section-sobre] 0px [inicio-section-recentes] min(100vh) [fim-section-recentes] 0px [inicio-section-portfolio] min(100vh) [fim-section-portfolio] 0px [inicio-section-avaliacoes] min(100vh) [fim-section-avaliacoes] 0px [inicio-section-contato] min(100vh) [fim-section-contato] 0px;
}
.container-principal .section {
  /*         .box-titles{
              display: flex;
              flex-direction: column;
              align-items: center;
              margin:30px 0;

              .title{
                  text-transform: uppercase;
                  color: v.$cor-primaria;
                  margin-bottom: 10px;
                  font-weight: bold;
                  font-size: 14px;
              }
              .subtitle{
                  text-align: center;
                  color: v.$cor-secundaria;
                  font-size: 14px;
                  padding: v.$pad-texto;
              }
          } */
}

.contente-btn-volta-topo {
  position: fixed;
  right: 30px;
  bottom: 30px;
}
.contente-btn-volta-topo .btn-volta-top {
  padding: 8px 10px;
  border: 1px solid #FFFFFF;
  cursor: pointer;
  background-color: #DA4167;
  color: #FFFFFF;
  border-radius: 3px;
  display: none;
}
.contente-btn-volta-topo .btn-volta-top-visivel {
  display: flex;
  justify-content: center;
  align-items: center;
}

.paraliza-body {
  overflow: hidden;
}

.cabecalho-branco {
  background-color: #FFFFFF;
}

.container-cabecalho {
  width: 100%;
  padding: 0 5%;
  position: fixed;
  z-index: 2;
}
.container-cabecalho .content-logo-btn-menu {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container-cabecalho .content-logo-btn-menu .logo {
  z-index: 2;
  font-size: 1.2em;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 0;
}
.container-cabecalho .content-logo-btn-menu .logo a {
  color: #FFFFFF;
  text-decoration: none;
}
.container-cabecalho .content-logo-btn-menu .logo-escuro a {
  color: #333333;
}
.container-cabecalho .content-logo-btn-menu .btn-menu {
  width: 25px;
  height: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  transition: 0.3s;
  cursor: pointer;
  z-index: 2;
}
.container-cabecalho .content-logo-btn-menu .btn-menu .linha-btn {
  display: block;
  width: 100%;
  height: 4px;
  background-color: #FFFFFF;
  transition: 0.3s;
}
.container-cabecalho .content-logo-btn-menu .btn-menu-escuro .linha-btn {
  background-color: #333333;
}
.container-cabecalho .content-logo-btn-menu .btn-menu-aberto {
  justify-content: center;
}
.container-cabecalho .content-logo-btn-menu .btn-menu-aberto .linha-btn-2 {
  margin-top: -4px;
  transform: translateX(-100%);
}
.container-cabecalho .content-logo-btn-menu .btn-menu-aberto .linha-btn-1 {
  transform: rotate(45deg);
}
.container-cabecalho .content-logo-btn-menu .btn-menu-aberto .linha-btn-3 {
  margin-top: -4px;
  transform: rotate(-45deg);
}

.content-menu {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  transition: 0.3s;
  left: -100%;
}
.content-menu .menu-principal {
  width: 270px;
  height: 100%;
  background-color: #FFFFFF;
  transform: translateX(-50%);
  transition: 0.5s;
  overflow: hidden;
}
.content-menu .menu-principal .ul-items-menu {
  width: 100%;
  border-top: 1px solid #f7f4f4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-top: 20px;
  padding-left: 0;
}
.content-menu .menu-principal .ul-items-menu li.item {
  width: 100%;
}
.content-menu .menu-principal .ul-items-menu li.item a {
  width: 100%;
  display: block;
  padding: 5px 30px;
  font-size: 0.9em;
  color: #333333;
  text-decoration: none;
}
.content-menu .menu-principal .ul-items-menu li.item:hover a {
  color: #FFFFFF;
  background-color: #DA4167;
}

.content-menu-aberto {
  top: 0;
  left: 0;
  transition: 0.3s;
}
.content-menu-aberto .menu-principal {
  transform: translateX(0);
  transition: 0.6s;
}
.content-menu-aberto .btn-menu {
  transition: 0.3s;
}

@media screen and (min-width: 990px) {
  .cabecalho-branco .content-logo-btn-menu .content-menu .menu-principal .ul-items-menu li.item a {
    color: #333333;
  }

  .container-cabecalho .content-logo-btn-menu .btn-menu {
    display: none;
  }

  .content-menu {
    height: 100%;
    width: auto;
    position: relative;
    left: inherit;
    background-color: inherit;
    transition: none;
  }
  .content-menu .menu-principal {
    width: auto;
    background-color: transparent;
    transform: none;
    padding: 0;
    transition: none;
  }
  .content-menu .menu-principal .ul-items-menu {
    padding: 0;
    height: 100%;
    flex-direction: row;
    border: none;
    margin-bottom: 0;
  }
  .content-menu .menu-principal .ul-items-menu li.item {
    width: auto;
  }
  .content-menu .menu-principal .ul-items-menu li.item a {
    color: #FFFFFF;
  }
  .content-menu .menu-principal .ul-items-menu li.item:hover a {
    color: #FFFFFF;
    background-color: transparent;
    text-decoration: underline;
  }
}
.section-home {
  grid-column: inicio-left/fim-rigth;
  grid-row: inicio-section-home/fim-section-home;
  position: relative;
  overflow: hidden;
}
.section-home .background-home {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)), url(../../img/sistema/banner-home/banner-home.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.section-home .background-home .box-titles-btn-acao {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.section-home .background-home .box-titles-btn-acao .titles {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 90px;
}
.section-home .background-home .box-titles-btn-acao .titles .title {
  color: #FFF;
  text-align: center;
  font-weight: bold;
}
.section-home .background-home .box-titles-btn-acao .box-btn-acao {
  width: 100%;
  display: flex;
  justify-content: center;
}
.section-home .background-home .box-titles-btn-acao .box-btn-acao a.btn-acao {
  display: block;
  padding: 10px 20px;
  color: #FFF;
  text-transform: uppercase;
  border: 1px solid #f24d57;
  border-radius: 20px;
  font-weight: 300;
}
.section-home .background-home .box-titles-btn-acao .box-btn-acao a.btn-acao:hover {
  background: #f24d57;
}
.section-home .box-btn-whatsapp {
  width: 80px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 5%;
  bottom: 100px;
  background-color: #00e676;
  color: #FFF;
  font-size: 1.4em;
  border-radius: 10px;
}

@media screen and (min-width: 920px) {
  .box-titles-btn-acao .titles {
    width: 70%;
  }
}
.section-sobre {
  grid-column: inicio-left/fim-rigth;
  grid-row: inicio-section-sobre/fim-section-sobre;
}
.section-sobre .container-imagens .card {
  border: none;
  background: none;
}
.section-sobre .container-sobre {
  padding: 100px 0;
  background: #d63384;
}
.section-sobre .container-sobre .box-contato .card {
  border: none;
  background: none;
}
.section-sobre .container-sobre .box-contato .card img {
  border-radius: 15px 15px 0 0;
}
.section-sobre .container-sobre .box-contato .content-sobre {
  background: #FFF;
  padding: 20px;
  border-radius: 0 0 15px 15px;
}
.section-sobre .container-sobre .box-contato .content-sobre .title-name {
  font-size: 24px;
  color: #3d383a;
  text-transform: uppercase;
  margin-bottom: 12px;
  font-weight: bold;
}
.section-sobre .container-sobre .box-contato .content-sobre .subtitle-profissao {
  color: #978b91;
  font-size: 16px;
}
.section-sobre .container-sobre .box-contato .content-sobre hr {
  width: 60px;
  height: 5px;
  background: #d63384;
  border: none;
  opacity: 1;
}
.section-sobre .container-sobre .box-contato .content-sobre .descricao {
  font-size: 14px;
  color: #584f53;
}
.section-sobre .container-sobre .box-contato .content-sobre .btn-contato {
  background: #d63384;
  color: #FFF;
  padding: 6px 12px;
  border-radius: 10px;
}

@media screen and (min-width: 767px) {
  .section-sobre .container-sobre .box-contato {
    margin-top: -250px;
    display: flex;
  }
  .section-sobre .container-sobre .box-contato .pr-0 {
    padding-right: 0;
  }
  .section-sobre .container-sobre .box-contato .pl-0 {
    padding-left: 0;
  }
  .section-sobre .container-sobre .box-contato .card img {
    border-radius: 15px 0 0 15px;
  }
  .section-sobre .container-sobre .box-contato .content-sobre {
    height: 100%;
    border-radius: 0 15px 15px 0;
    position: relative;
    display: flex;
    flex-direction: column;
  }
  .section-sobre .container-sobre .box-contato .content-sobre .btn-contato {
    width: 30%;
    align-self: flex-end;
    position: absolute;
    bottom: 20px;
    left: 20px;
    text-align: center;
  }
}
.section-recentes {
  grid-column: inicio-left/fim-rigth;
  grid-row: inicio-section-recentes/fim-section-recentes;
  background: #d63384;
}
.section-recentes .box-titles {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px 0 0 0;
}
.section-recentes .box-titles .title {
  text-transform: uppercase;
  color: #FFF;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 14px;
}
.section-recentes .box-titles .subtitle {
  text-align: center;
  color: #FFF;
  font-size: 14px;
  padding: 10px 30px;
}
.section-recentes .container-recentes {
  padding-bottom: 30px;
}
.section-recentes .container-recentes .item {
  height: 230px;
  padding: 0 8px;
}
.section-recentes .container-recentes .item .background-item {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
.section-recentes .container-recentes .item .background-item .box-informacoes {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
}
.section-recentes .container-recentes .item .background-item .box-informacoes .icon-visualizar {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.section-recentes .container-recentes .item .background-item .box-informacoes .icon-visualizar span {
  cursor: pointer;
  color: #FFF;
}
.section-recentes .container-recentes .item .background-item .box-informacoes .titles {
  display: flex;
  flex-direction: column;
}
.section-recentes .container-recentes .item .background-item .box-informacoes .titles .title {
  color: #FFF;
  font-size: 18px;
  font-weight: bold;
}
.section-recentes .container-recentes .item .background-item .box-informacoes .titles .subtitle {
  font-size: 14px;
  color: #d63384;
  margin: 0;
}

@media screen and (min-width: 720px) {
  .section-recentes .box-titles .title {
    font-size: 25px;
  }
  .section-recentes .box-titles .subtitle {
    font-size: 16px;
  }
  .section-recentes .container-recentes .item {
    height: 320px;
  }
}
.section-portfolio {
  grid-column: inicio-temp/fim-temp;
  grid-row: inicio-section-portfolio/fim-section-portfolio;
  background-color: #fff;
}

.section-avaliacoes {
  grid-column: inicio-temp/fim-temp;
  grid-row: inicio-section-avaliacoes/fim-section-avaliacoes;
}

.section-contato {
  grid-column: inicio-temp/fim-temp;
  grid-row: inicio-section-contato/fim-section-contato;
}

/*# sourceMappingURL=includes.css.map */
